
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    
   }
   .btn_flotante{
    background-color: #FC7300;
    display:scroll;
        position:fixed;
        bottom:20px;
        right:10px;
        border-radius: 8px;
        border: solid azure 1px;
        color: aliceblue;

   }
   #nav ul{
    background-color:#00425A;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
   padding-left: 15px;
   }

 ul{
    list-style-type: none;
    text-decoration: none;
    text-align: justify;
 display: flex;
 flex-direction: column;
}

a:link { 
    text-decoration:none;
    color: azure;
 }
  a:visited { 
    text-decoration:none; 
    color: azure;
}
.titulo{
    background-image: url(https://images.unsplash.com/photo-1591123120675-6f7f1aae0e5b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80) ;
    background-size: cover;
    background-repeat: space;
    text-align: center;
    height: 80vh;
    display: flex;   
    flex-direction: column;
    color: #00425A;
    text-shadow: 2px 2px 1px rgb(162, 159, 159);
      
}
 h1{
    margin-top: 100px;
    padding-top: 100px;
    font-size: 100px;

}
.card{
    align-items: center;
    width: 95%;

 }
 .contacto input{
margin: 10px;

 }
 .contacto{
    padding: 20px;
    margin: auto;
    width: 75%;
    align-items: center;
 }
 textarea{
    margin: 10px;
 }
 
 #quienes_somos, #por_que_elegirnos, #propuesta, #ultimas_noticias{
    background-color: #00425A;
    color: aliceblue;
    text-align: center;
padding: 20px;}
dt{
    font-weight: bold;
}
 #card{
    border-radius: 10px;
    border: #00425A solid 2px;
padding: 15px;



}
#noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p, #listado_propuesta{
    margin: 10px;
    padding-left: 5px;
    padding: 10px;
    text-align: justify;

}
#aqui{
color: blue;
}

.titulo_footer{
    padding: 28px;
    color: aliceblue;
    text-align: center;
    margin: 5px;
    padding-bottom: 20px;
}
.redes_footer{
    text-align: center;
    padding-right: 26px;


}
footer{
    background-color: #00425A;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
#form{
    background-color: #00425A;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    
}
.titulo-form1{
    text-align: center;
    background-color: #FC7300;
display: flex;
justify-content: space-around;
margin-bottom: 50px;
padding-bottom: 15px;
padding-top: 30px;
}
.titulo-form2{
    padding-bottom: 20px;
}
.btn-form{
    background-color: #FC7300;
    border-radius: 8px;
        border: solid azure 1px;
        color: aliceblue;
}
.footer-form{
    background-color: #FC7300;
}

 