body{
    font-family: 'Poppins', sans-serif;
   }

#nav nav{
    display: flex;
    background-color: #00425A;

}
ul{
    list-style-type: none;
    text-decoration: none;
    
}
a{
    color: azure;
}
a:link { text-decoration:none;
 }
  a:visited { 
    text-decoration:none; 
}

.titulo{
    background-image: url(https://images.unsplash.com/photo-1591123120675-6f7f1aae0e5b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80) ;
    background-size: cover;
    font-size: 50px;
    background-repeat: space;
    text-align: center;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #00425A;
    text-shadow: 2px 2px 1px rgb(212, 211, 211);

  
}
#quienes_somos, #por_que_elegirnos, #propuesta{
    background-color: #00425A;
    color: aliceblue;
    text-align: center;
    padding: 15px;
}

img{
width: 30%;
display: flex;
height: auto;
text-align: center;
}
dt{
    font-weight: bold;
}
article{
    border-radius: 10px;
    border: #00425A solid 1px;
    padding: 5px;
    margin: 5px;
}
div{
    border: 1px solid #00425A;
    width: 30%;
    padding: 5px;
    margin: 5px;
    text-align: center;
   
}
 #noticias{
    display: flex;
    justify-content: center;

}     
      
      
      
      
      
      